 <div id="wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Muckraker</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/saved">Saved Articles</a>
          </li>
          <li>
            <a href="/scrape" class="btn btn-danger scrape-new">SCRAPE NEW HEADLINES!</a>
          </li>
        </ul>
      </div>
    </nav>
    <h1>Muckraker</h1>
    <h2></h2>
    <div id="headlines" panel panel-default></div>
    <div id="notes"></div>
  </div>
  <footer>
    <div class="container">
      <p>Muckraker</p>
    </div>
  </footer>